### CSC478 Final Project: MovieLens
### Jun Tae Son |  Yuchen Wu | Tzu Hao Peng

In [243]:
import os
import math
import pandas as pd
import numpy as np
from numpy import *
from numpy import linalg as la
from scipy.sparse.linalg import svds
from sklearn.metrics import mean_squared_error, mean_absolute_error, jaccard_similarity_score
from sklearn import preprocessing
from collections import Counter
from sklearn.cluster import KMeans
from sklearn.cross_validation import train_test_split


# change the directory
os.chdir('C:\\Users\\rkfql\\Desktop\\Movielens-02')

C:\Users\rkfql\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# read rating data
rating_cols = ['user_id','movie_id','rating','timestamp']
ratings = pd.read_csv('u.data', sep='\t', names=rating_cols)
print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [3]:
# read movie data
item_cols = ['movie_id','movie_title','release_date','video_release_date','IMDb_URL','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Film_Noir','Horror','Musical','Mystery','Romance','Sci_Fi','Thriller','War' ,'Western']
movies=pd.read_csv('u.item',sep='|',encoding='iso-8859-1', names=item_cols)
print(movies.shape)
movies.head()

(1682, 24)

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
# read user data
user_cols = ['user_id','age','gender','occupation','zip_code']
users = pd.read_csv('u.user', sep='|', names=user_cols)
print(users.shape)
users.head()

(943, 5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

# Genre matrix

<br> rows = unique movie_id </br>
<br> cols = unique genre </br>

In [117]:
genre_mat = movies.iloc[:,5:].T
print(genre_mat.shape)
genre_index = list(genre_mat.index.values)
genre_mat.head()

(19, 1682)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
unknown,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Childrens,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# User Profile

In [231]:
# reformat rating matrix to be one row per column and one column per user.
df = ratings.pivot(index = 'movie_id', columns ='user_id', values = 'rating').fillna(0)
print(df.shape)
df.head()

(1682, 943)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
2,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [180]:
# calculate the dot product of the genre matrix and the ratings matrix and obtain the user profiles.

genre_array = np.array(genre_mat)
df_array = np.array(df)

user_profile = np.dot(genre_array,df_array)
mm = preprocessing.MinMaxScaler().fit(user_profile)
user_profile_norm = mm.fit_transform(user_profile)
print(user_profile_norm.shape)

df_user_profile = pd.DataFrame(user_profile_norm,index = genre_index)
df_user_profile.head()

(19, 943)

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
unknown,0.000000,0.000000,0.000000,0.000000,0.016260,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Action,0.591346,0.283582,0.609375,0.720930,0.715447,0.216495,0.600000,1.000000,0.454545,0.309249,...,0.550388,0.845070,0.338235,0.252874,1.000000,0.890244,0.456647,1.000000,0.540146,1.000000
Adventure,0.286058,0.097015,0.218750,0.325581,0.434959,0.195876,0.377236,0.408805,0.340909,0.176301,...,0.379845,0.422535,0.158088,0.137931,0.533898,0.426829,0.208092,0.710526,0.379562,0.502203
Animation,0.086538,0.029851,0.000000,0.000000,0.215447,0.087629,0.094309,0.000000,0.000000,0.083815,...,0.085271,0.042254,0.014706,0.057471,0.161017,0.048780,0.052023,0.368421,0.138686,0.030837
Childrens,0.122596,0.089552,0.000000,0.000000,0.288618,0.157216,0.237398,0.025157,0.000000,0.098266,...,0.205426,0.042254,0.044118,0.068966,0.305085,0.048780,0.121387,0.236842,0.408759,0.110132

- positive values shows a preference towards a certain genre.

# Content_based recommender

retrieve movies that are closest in similarity to a userâ€™s profile, which represents a userâ€™s preference for an itemâ€™s feature.

In [256]:
# user-id = 0
# This user strongly prefers watching Drama, Romance, and Sci-fi genre movies.
sample = df_user_profile.iloc[:,1]
sample

unknown        0.000000
Action         0.283582
Adventure      0.097015
Animation      0.029851
Childrens      0.089552
Comedy         0.455224
Crime          0.253731
Documentary    0.000000
Drama          1.000000
Fantasy        0.022388
Film_Noir      0.067164
Horror         0.044776
Musical        0.022388
Mystery        0.104478
Romance        0.492537
Sci_Fi         0.111940
Thriller       0.320896
War            0.082090
Western        0.000000
Name: 1, dtype: float64

In [257]:
genre_mat[0]

unknown        0
Action         0
Adventure      0
Animation      1
Childrens      1
Comedy         1
Crime          0
Documentary    0
Drama          0
Fantasy        0
Film_Noir      0
Horror         0
Musical        0
Mystery        0
Romance        0
Sci_Fi         0
Thriller       0
War            0
Western        0
Name: 0, dtype: int64

In [258]:
# movie dic
temp = movies.iloc[:,:2]
movie_dic = {}
for i in range(temp.shape[0]):
    movie_dic[temp.movie_id[i]] = temp.movie_title[i]

In [259]:
def ecludSim(inA,inB):
    return 1.0 / (1.0 + la.norm(inA - inB))

def pearsSim(inA,inB):
    if len(inA) < 3 : return 1.0
    return 0.5 + 0.5 * corrcoef(inA, inB, rowvar = 0)[0][1]

def cosSim(inA,inB):
    num = inA.T * inB
    denom = la.norm(inA)*la.norm(inB)
    return 0.5 + 0.5 * (num / denom)

#jaccard_similarity_score(genre_mat[i],sample)

In [260]:
# calculate pearson similarity
sim_dic = {}
for i in range(genre_mat.shape[1]):
    sim = pearsSim(genre_mat[i],sample)
    sim_dic[i+1] = sim

In [261]:
sim_dic

{1: 0.50759860994057693,
 2: 0.54535785626067435,
 3: 0.5670057815918722,
 4: 0.8540952232308836,
 5: 0.80523031622840413,
 6: 0.897071298322206,
 7: 0.76377092340002384,
 8: 0.79634578768249886,
 9: 0.897071298322206,
 10: 0.75321453046774267,
 11: 0.57375585061896406,
 12: 0.57375585061896406,
 13: 0.63229346621985039,
 14: 0.89836493328660794,
 15: 0.897071298322206,
 16: 0.70571076227247775,
 17: 0.60919468332216142,
 18: 0.897071298322206,
 19: 0.897071298322206,
 20: 0.89836493328660794,
 21: 0.56505215176639401,
 22: 0.74303861640706714,
 23: 0.83766567392599156,
 24: 0.52536766703238746,
 25: 0.63229346621985039,
 26: 0.63229346621985039,
 27: 0.5488703136396561,
 28: 0.81411484477430951,
 29: 0.59514964682515925,
 30: 0.897071298322206,
 31: 0.75414427708944876,
 32: 0.41104075720281352,
 33: 0.66307785949391951,
 34: 0.88516944212125659,
 35: 0.68973144513163531,
 36: 0.89836493328660794,
 37: 0.897071298322206,
 38: 0.52361298419062874,
 39: 0.52980993130534015,
 40: 0.63229346621985039,
 41: 0.63229346621985039,
 42: 0.63229346621985039,
 43: 0.83766567392599156,
 44: 0.83766567392599156,
 45: 0.88516944212125659,
 46: 0.897071298322206,
 47: 0.88516944212125659,
 48: 0.41104075720281352,
 49: 0.70571076227247775,
 50: 0.53746306954403944,
 51: 0.72428131037358967,
 52: 0.897071298322206,
 53: 0.58431224355124511,
 54: 0.81411484477430951,
 55: 0.85539961489968808,
 56: 0.81391378982835927,
 57: 0.897071298322206,
 58: 0.897071298322206,
 59: 0.897071298322206,
 60: 0.897071298322206,
 61: 0.897071298322206,
 62: 0.48316615643933736,
 63: 0.56319945768668289,
 64: 0.897071298322206,
 65: 0.88516944212125659,
 66: 0.70571076227247775,
 67: 0.63229346621985039,
 68: 0.66307785949391951,
 69: 0.64308767026563252,
 70: 0.70571076227247775,
 71: 0.37877294602495015,
 72: 0.55424238480657961,
 73: 0.55646351694305607,
 74: 0.8540952232308836,
 75: 0.41104075720281352,
 76: 0.81391378982835927,
 77: 0.83766567392599156,
 78: 0.68973144513163531,
 79: 0.58431224355124511,
 80: 0.58089597044429553,
 81: 0.70571076227247775,
 82: 0.48316615643933736,
 83: 0.70571076227247775,
 84: 0.42596634956702861,
 85: 0.63229346621985039,
 86: 0.897071298322206,
 87: 0.897071298322206,
 88: 0.70571076227247775,
 89: 0.43388364426623943,
 90: 0.71416389863287488,
 91: 0.50537747780410058,
 92: 0.64308767026563263,
 93: 0.88516944212125659,
 94: 0.56319945768668289,
 95: 0.46403134229906068,
 96: 0.54980012053362703,
 97: 0.66307785949391951,
 98: 0.83766567392599156,
 99: 0.37877294602495015,
 100: 0.80523031622840413,
 101: 0.41423183561752214,
 102: 0.41277085840167721,
 103: 0.37877294602495015,
 104: 0.63229346621985039,
 105: 0.63229346621985039,
 106: 0.83766567392599156,
 107: 0.897071298322206,
 108: 0.63229346621985039,
 109: 0.57111675238589377,
 110: 0.54945690433879157,
 111: 0.70571076227247775,
 112: 0.43652274249930967,
 113: 0.897071298322206,
 114: 0.4255491315645864,
 115: 0.41104075720281352,
 116: 0.63229346621985039,
 117: 0.54535785626067435,
 118: 0.54535785626067435,
 119: 0.41104075720281352,
 120: 0.62125961881422909,
 121: 0.47872389216638467,
 122: 0.63229346621985039,
 123: 0.54736486828826125,
 124: 0.76113182516695366,
 125: 0.89836493328660794,
 126: 0.897071298322206,
 127: 0.79412465554602263,
 128: 0.58431224355124511,
 129: 0.85539961489968808,
 130: 0.53436193927788322,
 131: 0.89836493328660794,
 132: 0.6269359024678498,
 133: 0.80523031622840424,
 134: 0.897071298322206,
 135: 0.71434810548524885,
 136: 0.897071298322206,
 137: 0.897071298322206,
 138: 0.56319945768668289,
 139: 0.56319945768668289,
 140: 0.43652274249930967,
 141: 0.39052562612533881,
 142: 0.39876313525323709,
 143: 0.42192203797414318,
 144: 0.58431224355124511,
 145: 0.54980012053362703,
 146: 0.897071298322206,
 147: 0.58431224355124511,
 148: 0.50513929655913681,
 149: 0.897071298322206,
 150: 0.88516944212125659,
 151: 0.52758879916886381,
 152: 0.57111675238589377,
 153: 0.63229346621985039,
 154: 0.63229346621985039,
 155: 0.55264306475440184,
 156: 0.57375585061896406,
 157: 0.75321453046774267,
 158: 0.63229346621985039,
 159: 0.52097388595755856,
 160: 0.897071298322206,
 161: 0.64501150291186149,
 162: 0.897071298322206,
 163: 0.63229346621985039,
 164: 0.52164393065143733,
 165: 0.897071298322206,
 166: 0.897071298322206,
 167: 0.63229346621985039,
 168: 0.63229346621985039,
 169: 0.54208667182212067,
 170: 0.91628692305222048,
 171: 0.57111675238589377,
 172: 0.72623680642832955,
 173: 0.65872215811054036,
 174: 0.50513929655913681,
 175: 0.46544716105946188,
 176: 0.51767064869610102,
 177: 0.47083101952922329,
 178: 0.897071298322206,
 179: 0.46544716105946188,
 180: 0.75321453046774267,
 181: 0.53746306954403944,
 182: 0.81391378982835927,
 183: 0.5077374438077602,
 184: 0.51907034806246966,
 185: 0.59200163112667714,
 186: 0.56312691335248499,
 187: 0.79412465554602263,
 188: 0.74303861640706714,
 189: 0.54208667182212067,
 190: 0.75321453046774267,
 191: 0.76113182516695366,
 192: 0.897071298322206,
 193: 0.897071298322206,
 194: 0.62125961881422909,
 195: 0.54980012053362703,
 196: 0.897071298322206,
 197: 0.89836493328660794,
 198: 0.5670057815918722,
 199: 0.75321453046774267,
 200: 0.43280331874547284,
 201: 0.53952369945045076,
 202: 0.70571076227247775,
 203: 0.41104075720281352,
 204: 0.57111675238589377,
 205: 0.75321453046774267,
 206: 0.45409813741071986,
 207: 0.865200883913265,
 208: 0.54736486828826125,
 209: 0.77635559845421209,
 210: 0.50513929655913681,
 211: 0.5605603594536126,
 212: 0.897071298322206,
 213: 0.89836493328660794,
 214: 0.66529899163039574,
 215: 0.897071298322206,
 216: 0.70571076227247775,
 217: 0.5605603594536126,
 218: 0.5670057815918722,
 219: 0.43280331874547284,
 220: 0.70571076227247775,
 221: 0.897071298322206,
 222: 0.48316615643933736,
 223: 0.83766567392599156,
 224: 0.897071298322206,
 225: 0.56319945768668289,
 226: 0.58431224355124511,
 227: 0.48316615643933736,
 228: 0.48316615643933736,
 229: 0.48316615643933736,
 230: 0.48316615643933736,
 231: 0.59514964682515925,
 232: 0.55646351694305607,
 233: 0.5488703136396561,
 234: 0.48666560892764493,
 235: 0.55343018629412788,
 236: 0.88516944212125659,
 237: 0.89836493328660794,
 238: 0.63229346621985039,
 239: 0.74303861640706714,
 240: 0.54208667182212067,
 241: 0.59200163112667714,
 242: 0.63229346621985039,
 243: 0.56319945768668289,
 244: 0.81411484477430951,
 245: 0.75408092503861202,
 246: 0.89836493328660794,
 247: 0.47650276002990838,
 248: 0.62125961881422909,
 249: 0.63229346621985039,
 250: 0.51041749302527739,
 251: 0.63229346621985039,
 252: 0.52164393065143733,
 253: 0.89836493328660794,
 254: 0.52536766703238746,
 255: 0.70571076227247775,
 256: 0.70571076227247775,
 257: 0.55740346824946418,
 258: 0.76377092340002384,
 259: 0.56319945768668289,
 260: 0.52363057162910542,
 261: 0.56319945768668289,
 262: 0.897071298322206,
 263: 0.5488703136396561,
 264: 0.52361298419062874,
 265: 0.58431224355124511,
 266: 0.50513929655913681,
 267: 0.41104075720281347,
 268: 0.89836493328660794,
 269: 0.63229346621985039,
 270: 0.76302880563535402,
 271: 0.45807141936605622,
 272: 0.897071298322206,
 273: 0.59200163112667714,
 274: 0.70571076227247775,
 275: 0.89836493328660794,
 276: 0.89836493328660794,
 277: 0.897071298322206,
 278: 0.89836493328660794,
 279: 0.897071298322206,
 280: 0.89836493328660794,
 281: 0.58431224355124511,
 282: 0.897071298322206,
 283: 0.89836493328660794,
 284: 0.70571076227247775,
 285: 0.897071298322206,
 286: 0.80523031622840424,
 287: 0.897071298322206,
 288: 0.49986110009299628,
 289: 0.73210174460318056,
 290: 0.63229346621985039,
 291: 0.52097388595755856,
 292: 0.897071298322206,
 293: 0.81391378982835927,
 294: 0.63229346621985039,
 295: 0.58431224355124511,
 296: 0.897071298322206,
 297: 0.897071298322206,
 298: 0.54980012053362703,
 299: 0.72971182358820919,
 300: 0.58431224355124511,
 301: 0.63229346621985039,
 302: 0.5037641618524239,
 303: 0.897071298322206,
 304: 0.43652274249930967,
 305: 0.897071298322206,
 306: 0.89836493328660794,
 307: 0.49780423891941938,
 308: 0.6675201237668722,
 309: 0.53436193927788322,
 310: 0.897071298322206,
 311: 0.87630654459564661,
 312: 0.78785382165897067,
 313: 0.865200883913265,
 314: 0.50250019832606652,
 315: 0.83766567392599156,
 316: 0.88516944212125659,
 317: 0.897071298322206,
 318: 0.75321453046774267,
 319: 0.62531861317382198,
 320: 0.41104075720281352,
 321: 0.63229346621985039,
 322: 0.52097388595755856,
 323: 0.58431224355124511,
 324: 0.46182006746901866,
 325: 0.83766567392599156,
 326: 0.74303861640706714,
 327: 0.7408174842705908,
 328: 0.6249492614901816,
 329: 0.80523031622840413,
 330: 0.897071298322206,
 331: 0.51833478772448827,
 332: 0.80523031622840413,
 333: 0.52097388595755856,
 334: 0.52758879916886381,
 335: 0.63229346621985039,
 336: 0.57375585061896406,
 337: 0.86520088391326511,
 338: 0.63229346621985039,
 339: 0.82447018276064021,
 340: 0.897071298322206,
 341: 0.63229346621985039,
 342: 0.56847765415282348,
 343: 0.46761823148400306,
 344: 0.897071298322206,
 345: 0.88516944212125659,
 346: 0.81391378982835927,
 347: 0.88516944212125659,
 348: 0.80523031622840413,
 349: 0.58431224355124511,
 350: 0.54757898839715069,
 351: 0.43280331874547284,
 352: 0.53944757358905049,
 353: 0.46761823148400306,
 354: 0.70571076227247775,
 355: 0.49427181712171897,
 356: 0.76080767349887768,
 357: 0.897071298322206,
 358: 0.52164393065143733,
 359: 0.5670057815918722,
 360: 0.41104075720281352,
 361: 0.57375585061896406,
 362: 0.56312691335248499,
 363: 0.5488703136396561,
 364: 0.63229346621985039,
 365: 0.897071298322206,
 366: 0.897071298322206,
 367: 0.63229346621985039,
 368: 0.63229346621985039,
 369: 0.63229346621985039,
 370: 0.83766567392599156,
 371: 0.89836493328660794,
 372: 0.63229346621985039,
 373: 0.48316615643933736,
 374: 0.50250019832606652,
 375: 0.897071298322206,
 376: 0.63229346621985039,
 377: 0.56319945768668289,
 378: 0.897071298322206,
 379: 0.43280331874547284,
 380: 0.48316615643933736,
 381: 0.70571076227247775,
 382: 0.88516944212125659,
 383: 0.56319945768668289,
 384: 0.63229346621985039,
 385: 0.65872215811054036,
 386: 0.63229346621985039,
 387: 0.897071298322206,
 388: 0.63181601174651014,
 389: 0.43652274249930967,
 390: 0.63229346621985039,
 391: 0.63181601174651014,
 392: 0.897071298322206,
 393: 0.63229346621985039,
 394: 0.64975106667506155,
 395: 0.63229346621985039,
 396: 0.56090578121600865,
 397: 0.5488703136396561,
 398: 0.46005806034372437,
 399: 0.58533823471724822,
 400: 0.56319945768668289,
 401: 0.63229346621985039,
 402: 0.71416389863287488,
 403: 0.74017443819493489,
 404: 0.41277085840167721,
 405: 0.48094502430286101,
 406: 0.49986110009299628,
 407: 0.63229346621985039,
 408: 0.57645370617134295,
 409: 0.88516944212125659,
 410: 0.63229346621985039,
 411: 0.59316300584749104,
 412: 0.63229346621985039,
 413: 0.43280331874547284,
 414: 0.63229346621985039,
 415: 0.4987140813946716,
 416: 0.75585362870081307,
 417: 0.75585362870081307,
 418: 0.37877294602495015,
 419: 0.50537747780410058,
 420: 0.37877294602495015,
 421: 0.89836493328660794,
 422: 0.50759860994057693,
 423: 0.63090918442318611,
 424: 0.43280331874547284,
 425: 0.63229346621985039,
 426: 0.4579072986823659,
 427: 0.897071298322206,
 428: 0.63229346621985039,
 429: 0.76377092340002384,
 430: 0.5605603594536126,
 431: 0.50513929655913681,
 432: 0.37877294602495015,
 433: 0.63229346621985039,
 434: 0.46544716105946188,
 435: 0.55646351694305607,
 436: 0.43280331874547284,
 437: 0.43280331874547284,
 438: 0.43280331874547284,
 439: 0.43280331874547284,
 440: 0.43280331874547284,
 441: 0.43280331874547284,
 442: 0.43280331874547284,
 443: 0.43280331874547284,
 444: 0.42596634956702861,
 445: 0.43280331874547284,
 446: 0.43280331874547284,
 447: 0.43280331874547284,
 448: 0.43280331874547284,
 449: 0.48316615643933736,
 450: 0.48316615643933736,
 451: 0.62531861317382198,
 452: 0.48666560892764493,
 453: 0.48666560892764493,
 454: 0.897071298322206,
 455: 0.5488703136396561,
 456: 0.63181601174651014,
 457: 0.68973144513163531,
 458: 0.897071298322206,
 459: 0.897071298322206,
 460: 0.897071298322206,
 461: 0.897071298322206,
 462: 0.89836493328660794,
 463: 0.45819297387857544,
 464: 0.897071298322206,
 465: 0.53869445985124542,
 466: 0.5670057815918722,
 467: 0.897071298322206,
 468: 0.897071298322206,
 469: 0.897071298322206,
 470: 0.41104075720281352,
 471: 0.75321453046774267,
 472: 0.45651257080162144,
 473: 0.37877294602495015,
 474: 0.43916184073237996,
 475: 0.897071298322206,
 476: 0.63229346621985039,
 477: 0.56319945768668289,
 478: 0.70571076227247775,
 479: 0.52097388595755856,
 480: 0.64501150291186149,
 481: 0.88516944212125659,
 482: 0.62125961881422909,
 483: 0.80523031622840424,
 484: 0.43124454603316914,
 485: 0.55264306475440184,
 486: 0.70571076227247775,
 487: 0.70571076227247775,
 488: 0.4436845995168025,
 489: 0.59866502753610618,
 490: 0.71416389863287488,
 491: 0.50513929655913681,
 492: 0.897071298322206,
 493: 0.46182006746901866,
 494: 0.63229346621985039,
 495: 0.56583855591975318,
 496: 0.897071298322206,
 497: 0.63229346621985039,
 498: 0.55939010922713228,
 499: 0.897071298322206,
 500: 0.43652274249930967,
 501: 0.37877294602495015,
 502: 0.5605603594536126,
 503: 0.897071298322206,
 504: 0.81391378982835927,
 505: 0.52097388595755856,
 506: 0.897071298322206,
 507: 0.897071298322206,
 508: 0.897071298322206,
 509: 0.897071298322206,
 510: 0.71860616290582757,
 511: 0.43388364426623943,
 512: 0.91628692305222048,
 513: 0.52097388595755856,
 514: 0.70571076227247775,
 515: 0.74303861640706714,
 516: 0.63229346621985039,
 517: 0.91628692305222048,
 518: 0.897071298322206,
 519: 0.45819297387857544,
 520: 0.43388364426623943,
 521: 0.75321453046774267,
 522: 0.88516944212125659,
 523: 0.88516944212125659,
 524: 0.63229346621985039,
 525: 0.43124454603316914,
 526: 0.74748088068001983,
 527: 0.897071298322206,
 528: 0.75321453046774267,
 529: 0.897071298322206,
 530: 0.45819297387857544,
 531: 0.89836493328660794,
 532: 0.65042893417206649,
 533: 0.46182006746901866,
 534: 0.897071298322206,
 535: 0.70571076227247775,
 536: 0.897071298322206,
 537: 0.897071298322206,
 538: 0.37877294602495015,
 539: 0.56319945768668289,
 540: 0.5488703136396561,
 541: 0.50513929655913681,
 542: 0.4739645471874015,
 543: 0.73210174460318056,
 544: 0.85631635536735973,
 545: 0.70571076227247775,
 546: 0.58431224355124511,
 547: 0.53436193927788322,
 548: 0.41013176016860697,
 549: 0.80523031622840424,
 550: 0.58431224355124511,
 551: 0.43280331874547284,
 552: 0.46544716105946188,
 553: 0.89836493328660794,
 554: 0.50513929655913681,
 555: 0.897071298322206,
 556: 0.41104075720281352,
 557: 0.73210174460318056,
 558: 0.73637521999763811,
 559: 0.74001903930239143,
 560: 0.53980007052691326,
 561: 0.74001903930239143,
 562: 0.44984917439219246,
 563: 0.43280331874547284,
 564: 0.54736486828826125,
 565: 0.49986110009299628,
 566: 0.54535785626067435,
 567: 0.43280331874547284,
 568: 0.66307785949391951,
 569: 0.74001903930239143,
 570: 0.41104075720281352,
 571: 0.64501150291186149,
 572: 0.58431224355124511,
 573: 0.47872389216638467,
 574: 0.60977068821848779,
 575: 0.53153027888983961,
 576: 0.52536766703238746,
 577: 0.57111675238589377,
 578: 0.51041749302527739,
 579: 0.63229346621985039,
 580: 0.70571076227247775,
 581: 0.83766567392599156,
 582: 0.89836493328660794,
 583: 0.57375585061896406,
 584: 0.75585362870081307,
 585: 0.63229346621985039,
 586: 0.5488703136396561,
 587: 0.76113182516695366,
 588: 0.37877294602495015,
 589: 0.41104075720281352,
 590: 0.46761823148400306,
 591: 0.83766567392599156,
 592: 0.52097388595755856,
 593: 0.450938786697689,
 594: 0.89836493328660794,
 595: 0.5670057815918722,
 596: 0.37877294602495015,
 597: 0.58431224355124511,
 598: 0.88516944212125659,
 599: 0.5488703136396561,
 600: 0.45456588028813222,
 601: 0.43388364426623943,
 602: 0.55264306475440184,
 603: 0.52097388595755856,
 604: 0.63229346621985039,
 605: 0.42192203797414318,
 606: 0.897071298322206,
 607: 0.65820699407721284,
 608: 0.60977068821848779,
 609: 0.63229346621985039,
 610: 0.42192203797414318,
 611: 0.46317596721105042,
 612: 0.897071298322206,
 613: 0.63229346621985039,
 614: 0.897071298322206,
 615: 0.5670057815918722,
 616: 0.42596634956702861,
 617: 0.897071298322206,
 618: 0.897071298322206,
 619: 0.83766567392599156,
 620: 0.897071298322206,
 621: 0.41104075720281352,
 622: 0.43652274249930967,
 623: 0.56319945768668289,
 624: 0.37877294602495015,
 625: 0.41277085840167721,
 626: 0.75585362870081307,
 627: 0.897071298322206,
 628: 0.81391378982835927,
 629: 0.53944757358905049,
 630: 0.53944757358905049,
 631: 0.79977366752497958,
 632: 0.897071298322206,
 633: 0.897071298322206,
 634: 0.41104075720281352,
 635: 0.43280331874547284,
 636: 0.52164393065143733,
 637: 0.54736486828826125,
 638: 0.897071298322206,
 639: 0.897071298322206,
 640: 0.897071298322206,
 641: 0.75321453046774267,
 642: 0.72971182358820919,
 643: 0.89836493328660794,
 644: 0.41104075720281352,
 645: 0.41104075720281352,
 646: 0.41104075720281352,
 647: 0.75321453046774267,
 648: 0.70571076227247775,
 649: 0.80523031622840413,
 650: 0.897071298322206,
 651: 0.74303861640706714,
 652: 0.88516944212125659,
 653: 0.52758879916886381,
 654: 0.48316615643933736,
 655: 0.79856691981897532,
 656: 0.52758879916886381,
 657: 0.5077783947922071,
 658: 0.897071298322206,
 659: 0.59866502753610618,
 660: 0.897071298322206,
 661: 0.41104075720281352,
 662: 0.89836493328660794,
 663: 0.63229346621985039,
 664: 0.897071298322206,
 665: 0.5077374438077602,
 666: 0.43280331874547284,
 667: 0.43280331874547284,
 668: 0.48666560892764493,
 669: 0.43280331874547284,
 670: 0.47872389216638467,
 671: 0.43280331874547284,
 672: 0.43280331874547284,
 673: 0.5077783947922071,
 674: 0.43280331874547284,
 675: 0.43280331874547284,
 676: 0.897071298322206,
 677: 0.41104075720281352,
 678: 0.83766567392599156,
 679: 0.50513929655913681,
 680: 0.50513929655913681,
 681: 0.43280331874547284,
 682: 0.47650276002990832,
 683: 0.63229346621985039,
 684: 0.58431224355124511,
 685: 0.58431224355124511,
 686: 0.82447018276064021,
 687: 0.5605603594536126,
 688: 0.63229346621985039,
 689: 0.58431224355124511,
 690: 0.75321453046774267,
 691: 0.48538728857581365,
 692: 0.91628692305222048,
 693: 0.897071298322206,
 694: 0.65042893417206649,
 695: 0.88516944212125659,
 696: 0.83766567392599156,
 697: 0.897071298322206,
 698: 0.897071298322206,
 699: 0.897071298322206,
 700: 0.63229346621985039,
 701: 0.41104075720281352,
 702: 0.70571076227247775,
 703: 0.897071298322206,
 704: 0.89836493328660794,
 705: 0.55264306475440184,
 706: 0.43280331874547284,
 707: 0.897071298322206,
 708: 0.897071298322206,
 709: 0.70571076227247775,
 710: 0.63229346621985039,
 711: 0.897071298322206,
 712: 0.88516944212125659,
 713: 0.897071298322206,
 714: 0.89836493328660794,
 715: 0.88516944212125659,
 716: 0.89836493328660794,
 717: 0.83766567392599156,
 718: 0.63229346621985039,
 719: 0.5605603594536126,
 720: 0.803746949480316,
 721: 0.63229346621985039,
 722: 0.63229346621985039,
 723: 0.88516944212125659,
 724: 0.89836493328660794,
 725: 0.63229346621985039,
 726: 0.75585362870081307,
 727: 0.89836493328660794,
 728: 0.57111675238589377,
 729: 0.897071298322206,
 730: 0.89836493328660794,
 731: 0.91628692305222048,
 732: 0.70571076227247775,
 733: 0.89836493328660794,
 734: 0.63229346621985039,
 735: 0.897071298322206,
 736: 0.89836493328660794,
 737: 0.88516944212125659,
 738: 0.70571076227247775,
 739: 0.70571076227247775,
 740: 0.89836493328660794,
 741: 0.83766567392599156,
 742: 0.83766567392599156,
 743: 0.58431224355124511,
 744: 0.75321453046774267,
 745: 0.63229346621985039,
 746: 0.63229346621985039,
 747: 0.70571076227247775,
 748: 0.66307785949391951,
 749: 0.70571076227247775,
 750: 0.897071298322206,
 751: 0.66307785949391951,
 752: 0.58431224355124511,
 753: 0.897071298322206,
 754: 0.57375585061896406,
 755: 0.42342819635830697,

In [270]:
sorted_sim = Counter(sim_dic)
for key, value in sorted_sim.most_common(10):
    print(movie_genre_dic[key])
    print('%s' % movie_dic[key], '\n')

['Comedy', 'Drama', 'Romance']
Cinema Paradiso (1988)

['Comedy', 'Drama', 'Romance']
Wings of Desire (1987)

['Comedy', 'Drama', 'Romance']
Manhattan (1979)

['Comedy', 'Drama', 'Romance']
American President, The (1995)

['Comedy', 'Drama', 'Romance']
Corrina, Corrina (1994)

['Comedy', 'Drama', 'Romance']
Something to Talk About (1995)

['Comedy', 'Drama', 'Romance']
Don Juan DeMarco (1995)

['Comedy', 'Drama', 'Romance']
Brassed Off (1996)

['Comedy', 'Drama', 'Romance']
What Happened Was... (1994)

['Comedy', 'Drama', 'Romance']
Twelfth Night (1996)

# Dictionary for analysis

In [17]:
# make genre dictionary
genre = pd.read_csv('u.genre', sep='|', names = ['genre','key'])
genre = np.array(genre.iloc[:,0])

genre_dic = {}
for i in range(len(genre)):
    genre_dic[i] = genre[i]

genre_dic

{0: 'unknown',
 1: 'Action',
 2: 'Adventure',
 3: 'Animation',
 4: "Children's",
 5: 'Comedy',
 6: 'Crime',
 7: 'Documentary',
 8: 'Drama',
 9: 'Fantasy',
 10: 'Film-Noir',
 11: 'Horror',
 12: 'Musical',
 13: 'Mystery',
 14: 'Romance',
 15: 'Sci-Fi',
 16: 'Thriller',
 17: 'War',
 18: 'Western'}

In [56]:
temp = pd.DataFrame.copy(movies)
temp = temp.drop(['movie_title','release_date','video_release_date','IMDb_URL'], axis=1)
temp = np.array(temp)

movie_dic = {}
for i in range(len(temp)):
    movie_dic[temp[i][0]] = temp[i][1:]

movie_genre = []
for j in range(len(movie_dic)):
    entry_genre=[]
    for k in range(len(movie_dic[j+1])):
        if movie_dic[j+1][k] != 0:
            entry_genre.append(genre_dic[k])
    movie_genre.append(entry_genre)

In [57]:
movie_genre_dic = {}
for i in range(len(temp)):
    movie_genre_dic[temp[i][0]] = movie_genre[i]

In [63]:
temp_ratings = pd.DataFrame.copy(ratings)
movie_id_df = temp_ratings.iloc[:,1]

genre_lst = []
for i in range(len(movie_id_df)):
    index = movie_id_df[i]
    genre_lst.append(movie_genre_dic[index])

In [65]:
# join ratings and movie_genre_dic
genre_temp = pd.DataFrame({'movie_genre':genre_lst})
genre_temp['Joined'] = genre_temp.movie_genre.apply(', '.join)

temp_ratings['genre'] = genre_temp.Joined
temp_ratings.head()

   user_id  movie_id  rating  timestamp                                genre
0      196       242       3  881250949                               Comedy
1      186       302       3  891717742  Crime, Film-Noir, Mystery, Thriller
2       22       377       1  878887116                   Children's, Comedy
3      244        51       2  880606923         Drama, Romance, War, Western
4      166       346       1  886397596                         Crime, Drama